<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="task1">
      <h3>Task 1</h3>
      <button @click="invert">{{ btnText }}</button>
    </div>
    <div id="task2">
      <h3>Task 2</h3>
      <ul>
        <li v-for="item in array" :key="item.id">{{ item.text }}</li>
      </ul>

      <button @click="addItem">Добавить</button>
    </div>
    <div id="task3">
      <h3>Task 3</h3>
      <ul>
        <li v-for="item in array" :key="item.id">
          {{ item.text }} <button @click="deleteItem(item.id)">Удалить</button>
        </li>
      </ul>
    </div>
    <script>
      const app1 = new Vue({
        el: "#task1",
        data: {
          btnText: "Перевернуть",
        },
        methods: {
          invert() {
            this.btnText = this.btnText.split("").reverse().join("");
          },
        },
      });
      const app2 = new Vue({
        el: "#task2",
        data: {
          array: [],
          id: 0,
          text: "Новый элемент списка",
        },
        methods: {
          addItem() {
            const element = {
              id: this.id,
              text: this.text,
            };
            this.array.push(element);
            this.id++;
          },
        },
      });
      const app3 = new Vue({
        el: "#task3",
        data: {
          array: [
            { id: 1, text: "Элемент списка 1" },
            { id: 2, text: "Элемент списка 2" },
            { id: 3, text: "Элемент списка 3" },
            { id: 4, text: "Элемент списка 4" },
          ],
        },
        methods: {
          deleteItem(id) {
            for (let i = 0; i < this.array.length; i++) {
              if (this.array[i].id === id) {
                this.array.splice(i, 1);
              }
            }
          },
        },
      });
    </script>
  </body>
</html>
